.carregando {
  .blur {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.97);
    z-index: 9999;

    div {
      display: flex;
    }
  }
  p {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }
}
